.minict_wrapper {
    color: #333;
    position: relative;
    height: 2.25rem;
        border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.minict_wrapper:hover{
    border: 1px solid #619fdb;
}

.minict_wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.minict_wrapper:after {
    content: "\25BC";
    display: block;
    position: absolute;
    height: 2.1rem;
    width: 2.1rem;
    top: 0;
    right: 0;
    font-size: .6rem;
    line-height: 1.9rem;
    text-align: center;
    color: #555
}

.minict_wrapper.active:after {
    content: "\25B2"
}

.minict_wrapper input {
    border: 0;
    outline: none;
    background: none;
        height: 2.2rem;
    padding: 0 2.2rem 0 .4rem;
    cursor: default;
        background: url(/style/traveloka-main.png) no-repeat -428px 1px;
    padding-left: 40px;
}

.indexVe>.minict_wrapper input {
    background: url(/style/traveloka-main.png) no-repeat -428px -34px;
}

.minict_wrapper ul {
    display: none;
    box-shadow: 0 2px 4px 1px rgba(0,0,0,.14);
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 3px;
    top: 2.1rem;
    left: 0;
    max-height: 16rem;
    overflow-y: auto;
    z-index: 999999;
}

.minict_wrapper ul li {
    list-style: none;
    font-size: 14px;
    border-bottom: 1px solid rgba(67,67,67,.17);
    /* padding: 0 .7rem 0 2.3rem; */
    padding: 8px 0 7px 39px;
    cursor: pointer;
    background: #fff;
    height: 2rem;
    line-height: 1rem;
}

.minict_wrapper ul li:hover {
    background: #e4edf7;
    /* border: 1px solid #6cb5f9; */
    background: #9ed2ef 50% 50% repeat-x;
    color: #006fa1;
    /* color: #111; */
}

.minict_wrapper ul li.minict_group {
  /*  color: #1c85cd;
    background: #ffffff;*/
  /* font-weight: bold; */
  cursor: default;
  /*border-bottom: 1px solid #1c85cd;*/
  font-weight: 600;
  color: #595959;
  padding: 8px 16px 7px;
  background: #f8f7f7;
}

.minict_wrapper ul li.minict_empty {
    display: none;
    background: #fff !important;
    color: #bbb;
   /* text-align: center;*/
    font-size: .9rem;
    height: 3.5rem;
    line-height: 3.3rem
}

.minict_wrapper ul li.selected {
    color: #8c8c8c;
    background: #e4edf7;
}

.minict_wrapper ul li.highlighted {
    color: #fff;
    background: #819a9a
}

.minict_wrapper ul li.hidden {
    display: none
}

.minict_wrapper.bubble {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05);
    background: -moz-linear-gradient(top, #fff 0%, #f9f9f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f9f9f9));
    background: -webkit-linear-gradient(top, #fff 0%, #f9f9f9 100%);
    background: -o-linear-gradient(top, #fff 0%, #f9f9f9 100%);
    background: -ms-linear-gradient(top, #fff 0%, #f9f9f9 100%);
    background: linear-gradient(bottom, #fff 0%, #f9f9f9 100%)
}

.minict_wrapper.bubble:hover {
    border-color: #dcdcdc
}

.minict_wrapper.bubble:after {
    border-left: 1px solid #e5e5e5;
    -webkit-box-shadow: inset 1px 0 0 0 #fff;
    box-shadow: inset 1px 0 0 0 #fff;
    height: 2.05rem
}

.minict_wrapper.bubble ul {
    top: 2.7rem;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .25);
    border-radius: 6px;
    overflow: visible
}

.minict_wrapper.bubble ul:before {
    position: absolute;
    top: -11px;
    left: 19px;
    content: ".";
    color: transparent;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 11px 11px 11px;
    border-color: transparent transparent #e5e5e5 transparent
}

.minict_wrapper.bubble ul:after {
    position: absolute;
    top: -10px;
    left: 20px;
    content: ".";
    color: transparent;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent
}

.minict_wrapper.bubble ul li.minict_first {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.minict_wrapper.bubble ul li.minict_last {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}