body {
    font-family: Noto Sans, Segoe UI, Helvetica, Arial, Sans-Serif!important;
    /* background-color: #ffffff;*/
    background: #f6f6f6;
    color: #222;
}

button,
input,
optgroup,
select,
textarea {
    font-family: Noto Sans, Segoe UI, Helvetica, Arial, Sans-Serif!important;
    outline: none!important;
}

.tv-nhapthongtin input[type="text"]:focus,
.tv-nhapthongtin input[type="number"]:focus,
.tv-nhapthongtin input[type="email"]:focus {
    border-color: #1ba0e2;
}

a {
    color: #1ba0e2;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #ff5115;
    text-decoration: none;
}

a .tv-ttchuyenbay {
    color: rgb(67, 67, 67);
}

a .tv-hetve {
    pointer-events: none;
    cursor: default;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
}

.tv-header {
    max-width: 990px;
}

header .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.tv-header-detail .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    padding: 10px 0;
    -webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .14);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .14);

    /*border-bottom: 1px solid #dedede;*/
    z-index: 999999;
}

.tv-header-detail .navbar-brand img {
    height: 44px;
}

.tv-carthead {
    position: absolute;
    right: 1rem;
    color: #444;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 1rem 0;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.icon-head-cart {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    vertical-align: middle;
    zoom: 1;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -.375rem;
    background-image: url(cart.svg);
}


.tv-cartheaditem {
    font-size: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    line-height: 0.6;
    font-weight: bold;
}

.tv-iconcarthead {
    display: inline-block;
}

.tv-cartheadprice {
    display: inline-block;
    margin-left: .525rem;
    vertical-align: middle;
}

.tv-cartheaditem span {
    font-size: 50%;
}

.txtcenter {
    text-align: center;
}

.navbar-brand img {
    height: 39px;
}

.tv-topbar {
    background: #1ba0e1;
    position: relative;
    z-index: 4;
    padding: 3px;
}


.tv-topbar a {
    color: #fff;
    font-style: oblique;
    /*margin: 5px 24px;*/
}

.tv-b {
    font-weight: bold;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link {
    color: #1ba0e2;
}

.navbar-light .navbar-nav .active>.nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff5115;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.header {
    background: #fff;
    z-index: 20;
}

.tv-banner {
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 439px;
    overflow: hidden;
}

.tv-banner img {
    width: 100%;
}

h1.tv-chonchuyen {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.tv-desc {
    margin-bottom: 1.875rem;
    color: #555;
}


.tv-main-detail,
.tv-main {
    position: relative;
    z-index: 15;
}

.tv-main-detail {
    /*margin-top: 30%;*/
    margin-top: 100px;
}

.tv-main {
    margin-top: 346px;
    max-width: 990px;
}

.tv-prev img,
.tv-next img {
    width: 2rem;
}

.tv-thoigianbay ul {
    display: inline-flex;
    list-style: none;
    min-width: 100%;
    padding-left: 0;
    /* padding-right: 1.625rem; */
}

.tv-thoigianbay li {
    /* border: 1px solid #dcdcdc; */
    box-shadow: 0 0 0.0625rem rgba(0, 0, 0, .4);
    width: 100px;
    background: #fff;
    color: #767676;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    flex: 1 1 15%;
    position: relative;
    height: 4rem;
}

span.tv-prev {
    left: -27px;
    position: absolute;
    top: 23%;
}

span.tv-next {
    right: -27px;
    position: absolute;
    top: 23%;
}

.tv-lingay {
    flex: 1 1 100%;
    font-size: .80rem;
    /* color: #767676; */
}

.son-date {
    position: absolute;
    left: 0.625rem;
    font-weight: bold;
    line-height: 2.2;
}

.son-day {
    /*text-transform: uppercase;*/
    margin: 5px 0 0px;
}

.tv-ligiangay {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    line-height: 0.5;
}

.tv-thoigianbay {
    padding: 1.9375rem 0 0;
    text-align: center;
}

.li-ngaychon .tv-ligiangay {
    color: #0d7fcc!important;
    display: flex;
    line-height: 0.5;
}

li.li-ngaychon {
    border: 2px solid #0d7fcc!important;
}

.tv-thoigianbay ul a:nth-child(4) li {
    border: .125rem solid #ff5115;
}

.tv-thoigianbay ul a:nth-child(4) li .tv-ligiangay {
    color: #ff5115!important;
    display: flex;
    line-height: 0.5;
}

input.tv-chonchuyen:hover {
    background: #f96d01;
    color: #fff;
}

.tv-thoigianbay li:hover {
    /* border: 2px solid #ffb59b; */
    box-shadow: 0 0.090rem 0.375rem 0 rgba(0, 0, 0, .3);
}

.tv-thoigianbay li:hover .tv-ligiangay {
    color: #111;
}

.tv-ligiangay span {
    font-size: 50%;
    display: flex;
}

.tv-ttchuyenbay {
    padding: .65rem 1.5rem;
    margin: 0 auto 1rem;
    background: #fff;
    /*box-shadow: 0px 1px 7px rgba(0, 0, 0, .3);*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.tv-ttchuyenbay:active {
    border: 2px solid #00c249;
    box-shadow: none;
    /* padding: 0; */
    -webkit-animation: shake-animate-frames .3s 1;
    animation: shake-animate-frames .3s 1;
}

.tv-giodi,
.tv-gioden {
    font-size: 1.875rem;
    max-width: 80px;
    /* line-height: 2.6rem; */
}

.tv-giodi span,
.tv-gioden span {
    font-size: .75rem;
    line-height: 1;
    display: block;
    color: #767676;
}

.tv-ttchuyenbay .tv-khungthoigian {
    display: flex;
    justify-content: space-between;
}

span.tv-iconbay {
    display: flex;
}

.col.tv-khoangthoigian {
    padding-left: 5%;
    font-size: .875rem;
    line-height: 4rem;
    color: #767676;
}

.tv-ttchuyenbay:hover {
    /*box-shadow: 0px 0px 17px rgba(0, 0, 0, .4);*/
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, .2);
}

.col.tv-giachuyenbay {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    display: flex;
    color: #ff5115;
    font-size: 35px;
    line-height: 3.7rem;
}

.tv-subchuyentien {
    margin-top: 1rem;
    margin-bottom: .8rem;
}

.tv-datechuyenbay {
    /*font-weight: bold;*/
}

.tv-giachuyenbay span {
    font-size: 50%;
    display: flex;
    line-height: 2.8;
}

input.tv-chonchuyen {
    border-radius: 40px;
    font-weight: bold;
    line-height: 1;
    height: 37px;
    padding: 0 36px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #f96d01;
    color: #f96d01;
    margin: 0.7rem 0 0 2rem;
}

.tv-hetve {
    pointer-events: none;
    cursor: default;
}

.tv-hetve .tv-giachuyenbay {
    color: #757575;
    font-size: 18px;
}

.tv-hetve .tv-giodi,
.tv-hetve .tv-gioden {
    color: #c5c5c5;
}

.tv-hetve .tv-khoangthoigian {
    color: #c5c5c5;
}

.tv-hetve .tv-giodi span,
.tv-hetve .tv-gioden span {
    color: #cdcdcd;
}

.tv-hetve .tv-chonchuyen {
    pointer-events: none;
    color: #ffb59b;
    border: 2px solid #ffb59b;
}

.tv-thoigianbay ul a {
    display: -webkit-flex;
    flex: 1 1 15%;
}









/*.tv-hetve {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,.4);
    left: 0;
    right: 0;
    z-index: 1;
}*/

.tv-errchuyenbay {
    margin: 30px 0;
}

.tv-errchuyenbay img {
    width: 258px;
    height: 145px;
}

.tv-errchuyenbay h1 {
    font-size: 1.5rem;
    margin: 30px 0 10px;
}

.tv-errchuyenbay p {
    color: #727272;
}

.tv-bannerchuyenbay {
    display: block;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    height: 360px;
    background: no-repeat top;
    background-size: auto 360px;
}










/*///HOME///*/

.tv-htable {
    background: #1ba0e2;
    padding: 5px;
    padding-top: 0.67em;
    color: #fff;
}


.tv-tablesearch {
    border: 6px solid #1ba0e2;
    border-top: 0;
    padding: 21px 0;
    background: #fff;
}

.tv-htable h1 {
    font-size: 1.4em;
    font-weight: bold;
    display: inline;
}

.tv-tablesearch>.tv-cchome:nth-child(2) {
    border-left: 2px solid #1ba0e2;
    border-right: 2px solid #1ba0e2;
}

.tv-tablesearch>.col-4 {
    padding: 0 24px;
}

.tv-titlecol {
    font-weight: 500;
    color: #434343;
    font-size: 28px;
    line-height: 23.4px;
    padding-bottom: 16px;
}

.tv-titlecol span {
    font-size: 18px;
    margin-left: 2px;
}

.tvSearchTagLineIcon {
    background: url(/style/traveloka-main.png) no-repeat -152px -420px;
    width: 20px;
    height: 22px;
    margin: 0 7px 4px 0;
    display: inline-block;
    vertical-align: bottom;
    zoom: 1;
}

.tv-sitemcol span,
.dieukhoan {
    color: #585858;
}

.tv-hoandoichieubay {
    /*    url(https: //d2uoadfmtnmth9.cloudfront.net/v1/lib/images/desktop/sprite/traveloka-main-fbb3a25243d397a4a92e9eb25dd8bc101.png) -250px -144px no-repeat scroll;
    url(https: //d2uoadfmtnmth9.cloudfront.net/v1/lib/images/desktop/sprite/traveloka-main-fbb3a25243d397a4a92e9eb25dd8bc101.png) -250px -144px no-repeat scroll;*/
    width: 33px;
    height: 33px;
    background: url(/style/traveloka-main.png) -250px -144px no-repeat scroll;
    margin: 6px 0 -3px 45%;
}

#flightDate,
#returnDate {
    background: url(/style/traveloka-main.png) no-repeat -428px -101px;
    padding-left: 40px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #434343;
    padding: 5px 6px 5px 41px;
    margin-top: 5px;
}

#flightDate:hover,
#returnDate:hover {
    border: 1px solid #619fdb;
}

#flightDate:focus,
#returnDate:focus {
    outline: none;
}


.tv-loaivedi {
    height: 36px;
    position: relative;
    /* margin-bottom: 4px; */
}

.tv-loaivedi label {
    display: inline-block;
    margin-top: 0.5rem;
    display: inline-block;
    margin-top: 0.5rem;
    margin-right: 0;
}

.tv-loaivedi span.custom-control-indicator {
    background: #fff;
    /* border-color: #0770cd; */
    border-radius: 50%;
    border: 1px solid #b4b4b4;
    -webkit-transform: scale(.714285714);
    transform: scale(.714285714);
}

.tv-loaivedi .custom-control-indicator:before {
    background: #1c85cd;
    border-radius: inherit;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: transform .3s ease;
}

.custom-radio .custom-control-input:checked~.custom-control-indicator {
    border-color: #1b84cc;
    background: #f6f6f6;
    border-radius: 50%;
    border: 1px solid #1b84cd;
    height: 16px;
    margin-right: 7px;
    width: 16px;
    transition: border-color .3s ease;
}

.custom-control-input:focus~.custom-control-indicator {
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}

.custom-radio .custom-control-input:checked~.custom-control-indicator:before {
    -webkit-transform: scale(.714285714);
    transform: scale(.714285714);
}

.tv-controls>ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    margin-bottom: auto;
    margin-bottom: 7px!important;
}

.tv-controls>li {
    display: inline-block;
}

.adultPassengerIcon {
    background: url(/style/traveloka-main.png) 2px -386px no-repeat scroll #efefef;
}

.childPassengerIcon {
    background: url(/style/traveloka-main.png) -32px -386px no-repeat scroll #efefef;
}

.passengerIcon {
    width: 31px;
    height: 36px;
    float: left;
    display: block;
    padding: 1px 0;
    cursor: pointer;
}

.infantPassengerIcon {
    background: url(/style/traveloka-main.png) -64px -386px no-repeat scroll #efefef;
}

#searchFlightSubmit {
    width: 100%;
    border: 1px solid #f97b0c;
    font-size: 20px;
    color: #fff;
    background-color: #f97b0c;
    float: left;
    /* margin: 25px 20px 0; */
    /* padding: 5px 14px; */
    height: 37px;
    cursor: pointer;
    vertical-align: middle;
}

#searchFlightSubmit:hover {
    border: 1px solid #f97b0c;
    color: #f97b0c;
    background-color: #fff;
}

#searchIcon {
    height: 30px;
    width: 34px;
    float: left;
    margin-left: 7px;
    background: url(/style/traveloka-main.png) -34px -128px no-repeat scroll;
}

#searchFlightSubmit:hover #searchIcon {
    background: url(/style/traveloka-main.png) -34px -163px no-repeat scroll;
}

#searchFlightSubmit span {
    display: block;
    float: left;
    font-size: 21px;
    font-weight: 500;
    /* line-height: 30px; */
    color: #fff;
    padding: 0 0 0 14px;
    text-align: left;
    vertical-align: middle;
}

#searchFlightSubmit:hover span {
    color: #f97b0c;
}

.dieukhoan {
    margin: 11px 0;
    font-size: 14px;
}


.listPaymentsLogo div.payment-big-logo {
    display: inline-block;
}

.payment-big-logo img {
    height: 40px;
    margin: 0 5px;
}

.tv-hlistpay p {
    margin: 26px 0 16px;
}

.travelokaCheapExpContainer {
    margin: auto;
    max-width: 700px;
}


.travelokaBestAllRoundConvenience {
    background: url(/style/img/lydo-1.png);
}

.travelokaCheapIcon {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 100px;
}

.travelokaBestPrice.travelokaCheapIcon {
    background: url(/style/img/lydo-2.png);
}

.travelokaHonestPrice.travelokaCheapIcon {
    background: url(/style/img/lydo-3.png);
}

.tv-hwhy {
    padding: 54px 0 0;
}

.tv-hwhy h2 {
    margin-bottom: 20px;
}

.tv-hwhy h3 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 0;
}

.tv-hwhy p {
    font-size: 14px;
    padding: 0;
}











/*Nhap thong tin*/

.tv-nhapthongtin {
    width: 70%;
    margin: auto;
}

.tv-accinfo {
    margin-bottom: 2.5rem;
}

.tv-nhapthongtin h4 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.tv-accinfo h3 {
    font-weight: bold;
}

.tv-nhapthongtin label {
    font-size: .875rem;
    /* font-weight: bold; */
    display: block;
    line-height: 1.5rem;
    margin: .6rem 0 0;
}

.tv-nhapthongtin input[type="text"],
.tv-nhapthongtin input[type="number"],
.tv-nhapthongtin input[type="email"] {
    background-color: #fff;
    padding: 1rem;
    border: solid 1px #dedede;
    font-size: .875rem;
    width: 100%;
    color: #222;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 0;
    -webkit-transition: none;
    transition: none;
    height: 3rem;
}

.tv-nhapthongtin select {
    width: 100%;
    height: 3rem;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    background-color: #fff;
    border-color: #dedede;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-image: url(https://booking.jetstar.com/Images/select-bg.svg);
    background-size: 3.0625rem 2rem;
    border-style: solid;
    border-width: 1px;
    color: rgba(0, 0, 0, .75);
    font-size: .875rem;
    line-height: normal;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.tv-chon {
    border-radius: 40px;
    font-weight: bold;
    line-height: 1;
    height: 49px;
    padding: 0 36px;
    font-size: 14px;
    border: 2px solid #f96d01;
    /* margin: 0.7rem 0 0 2rem; */
    background: #f96d01;
    color: #fff;
    font-size: 1.05rem;
}

.tv-chon:hover,
.tv-chon:active {
    background-color: #eb3c00;
    border: 2px solid #eb3c00;
    outline: 0;
}








/*////Xacnhan///*/

.tv-xacnhan {
    background-color: #fff;
    max-width: 48.125rem;
    box-shadow: 0 1px 20px 2px rgba(0, 0, 0, .15);
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    overflow: hidden;
    border-radius: 16px;
    margin: 2rem auto;
}

.tv-hbooking {
    padding: 1rem 0;
}

h3.tv-khoihanh {
    font-weight: bold;
}

.tv-hbooking h5 {
    margin: 0;
    padding-top: 1rem;
    color: #222;
    font-weight: bold;
    font-size: 1.6rem;
}

.tv-hbooking span {
    color: #767676;
    line-height: 1.5rem;
    font-size: .875rem;
}

.subbooking {
    padding: .5rem 2rem .5rem 2rem;
    background-color: #eee;
    font-size: .8rem;
}

.tv-booking {
    border-bottom: .0625rem solid #eee;
    padding: .75rem 2rem;
}

.tv-booking-child,
.tv-booking {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tv-iconbooking {
    float: left;
    vertical-align: top;
    padding-right: 1rem;
}

.icon--lg {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    vertical-align: middle;
    zoom: 1;
}

.icon-fare-people {
    background-image: url(http://d2vo5wp34bl1tg.cloudfront.net/uploads/2016/12/about-icons-users.svg);
}

.icon-fare-primary {
    background-image: url(https://booking.jetstar.com/Images/ShoppingCart/Fare.svg);
}

.icon-seats-primary {
    background-image: url(https://booking.jetstar.com/Images/ShoppingCart/Seats.svg);
}

.tv-bookgrow h5 {
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0;
    font-weight: bold;
    margin: 0;
}

.tv-bookingitem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.tv-bookingitem span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    font-size: .85rem;
}

.tv-booking span:nth-child(2) {
    padding-left: .75rem;
    text-align: right;
}

.tv-bookgrow {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
}

.tv-bookings {
    padding: .75rem 2rem;
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    background-color: #fafafa;
    color: #767676;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: .0625rem solid #eee;
}

.tv-bookings span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
}

.tv-bookings span:nth-child(2) {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    color: #222;
    font-family: "Jetstar Happy", sans-serif;
    line-height: 1;
    text-align: right;

    font-weight: bold;
}

.tv-bookings span:nth-child(2) i {
    font-size: 50%;
}

span i {
    font-size: 50%;
    font-style: normal;
}

.tv-loaithanhtoan {
    max-width: 600px;
    margin: auto;
}

.tv-loaittitem {
    user-select: none;
    color: #444;
    background-color: #fff;
    margin: .75rem;
    padding: 20px;
    border: 2px solid transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    cursor: pointer;
    will-change: box-shadow;
}

.tv-pick {
    border: 2px solid #ff5115;
}








/*//////Pro BAr*/

.tv-probar {
    margin: 10px 0 40px;
    font-family: MuseoSans-300, Museo Sans, Helvetica, Roboto, Arial, sans-serif;
}

.tv-progressbar {
    /* float: right; */
    overflow: hidden;
    /* position: absolute; */
    /* right: 0; */
    list-style: none;
    /* -webkit-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
    width: 546px;
    margin: auto;
    padding: 0;
}

.tv-probarchose .tv-numprobar {
    background: #1ba0e2;
    opacity: 1;
}

.tv-probarchose .tv-textprobar {
    color: #1ba0e2;
    opacity: 1;
}

.tv-itemprobar {
    float: left;
    position: relative;
    margin-right: 8px;
    line-height: 21px;
    padding-left: 28px;
}

.tv-numprobar {
    width: 16px;
    height: 16px;
    opacity: .5;
    float: left;
    font-size: 9px;
    font-weight: 900;
    line-height: 16px;
    text-align: center;
    margin-right: 4px;
    position: absolute;
    top: 48%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    background-color: #434343;
    border-radius: 50%;
    color: #fff;
}

.tv-textprobar {
    color: #434343;
    font-size: 14px;
    font-weight: 500;
    opacity: .5;
    float: left;
    padding-left: 20px;
}

.tv-itemprobar:not(:first-child):before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 16px;
    border-top: 2px solid #434343;
    margin-top: -.5px;
    background: #434343;
    opacity: .2;
}






/*////// Thong bao///*/

.tv-xacnhan-margin {
    padding: 30px;
}

h5.tv-thongbao {
    margin: 0 0 25px 0;
    font-size: 25px;
    color: #5ea926;
    font-weight: 300;
}

.tv-xacnhan-hotline {
    color: #969696;
    margin-top: 20px;
}

.tv-xacnhan-hotline i {
    color: #d41212;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 24px;
    text-align: center;
}






/*////Footer///*/

.footer {
    background: #1ba0e2;
    height: auto;
    overflow: hidden;
    margin-top: 40px;
    /*padding-bottom: 40px;*/
}

.tv-footerbaomat p {
    font-size: .8rem;
}

.tv-footerbaomat {
    background: url(/style/img/ribbon-footer.png) no-repeat;
    width: 167px;
    height: 236px;
    float: left;
    padding-top: 15px;
    text-align: center;
}


.footer .container {
    max-width: 990px;
}

.tv-footerlink {
    margin-top: 35px;
    color: #fff;
    padding-left: 57px;
}

.tv-footerlink a {
    color: #fff;
}

.tv-footeritem ul {
    list-style: none;
    padding: 0;
    font-size: .85rem;
}

.tv-footeritem li {
    margin: 5px 0px;
}

.tv-footeritem {
    /* padding-left: 36px; */
}

.footer-empty-24-hour {
    width: 54px;
    height: 55px;
    float: left;
    margin-right: 5px;
    background: url(https://d2uoadfmtnmth9.cloudfront.net/v1/lib/images/desktop/assets/empty-24-hour-794350c71ad8ddbac28d63c78624a6691.png) no-repeat;
    position: relative;
    background-size: cover;
}

.footer-empty-24-hour .hour {
    position: absolute;
    font-size: 9px;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
}



.tv-footeritem h5 {}

.footer-cs h5 {
    font-size: 14px;
    display: inline;
    margin: 5px 0 0;
}

.footer-cs-telephone {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
}

.tvContactIcon {
    width: 37px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
    float: left;
}


.tvContactFBIcon {
    background: url(footer.png) no-repeat -280px -1px;
}

.tvContactGPlusIcon {
    background: url(footer.png) no-repeat -320px -1px;
}

.tvContactInstagramIcon {
    background: url(footer.png) no-repeat -401px -1px;
}

.tvContactTwitterIcon {
    background: url(footer.png) no-repeat -361px -1px;
}

.footer-social {
    margin-top: 40px;
    margin-left: 3px;
}

.coppyright {
    color: #fff;
    margin-top: 30px;
    padding: 15px 0;
    border-top: 1px solid hsla(0, 0%, 100%, .15);
    font-size: 14px;
}







/*//FooterDat Ve/*/

.tv-barfooter {
    /*background-color: #fff;*/
    background-color: rgba(255, 255, 255, 0.68);
    padding: 30px 0;
}

.footerson {
    border-top: 2px solid #dedede;
    font-size: .8rem;
    color: #444;
    background: #fff;
    padding: 1.5rem 0;
}

.footerson img {
    max-height: 30px;
}

.footerson .col-6:nth-child(2) {
    padding-top: 6px;
}






/*/////Dat Cho??/*/

.tv-chonghes {
    margin-top: 20px;
}

.tv-datcho {
    margin-bottom: 2rem;
}

.tv-chonghe-right {
    box-shadow: -6px 0 12px -4px rgba(0, 0, 0, .2);
    padding: 0 31px;
}

.tv-chonghe-left {
    user-select: none;
    background-color: #a4e2fb;
    overflow: hidden;
}

.tv-chonghe-maybay img {
    /*margin-left: -309px;
    max-width: none;
    display: block;
    position: absolute;
    left: 50%;
    top: 1.5rem;*/
    margin-left: -110px;
    max-width: none;
    width: 2609px;
    display: block;
    position: absolute;
    left: -226.3%;
    top: -53.5rem;
}

.tv-chonghe-maybay {
    position: relative;
    min-height: 30rem;
    /*max-height: 30rem;*/
    max-height: 100rem;
    width: 100%;
}

.tv-ghenote,
.tv-userchon {
    color: #444;
    background-color: #fff;
    margin-top: 1.75rem;
    /* border: 2px solid transparent; */
    /* box-shadow: 0 1px 2px rgba(0,0,0,.3); */
    -webkit-box-shadow: 0 1px 3px 0 rgba(27, 27, 27, .1);
    box-shadow: 0px 1px 2px 1px rgba(27, 27, 27, .1);
    border-radius: 3px;
}

.tv-userchon i {
    font-size: 50%;
}

.tv-ghenote-title,
.tv-userchon-title {
    padding: 1rem 2rem;
    background-color: #e6eaed;
    border-radius: 3px 3px 0 0;
    width: 100%;
}

.tv-ghenote-item {
    display: flex;
    padding: 0.5rem 2rem;
    border-radius: 0 0 3px 3px;
}

.tv-ghenote-item div {
    margin-top: 10px;
}

.tv-ghenote h3,
.tv-userchon h3 {
    font-weight: bold;
    margin-bottom: 0;
    /* font-size: 24px; */
    font-size: 17px;
    font-family: MuseoSans, sans-serif;
    color: #434343;
}

.tv-ghenote-item .seat {
    width: 40px;
    height: 49px;
    display: inline-grid;
}

.tv-ghenote-item span {
    /* display: block;
    float: left;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: .875rem;
}

.tv-userchon-item span {
    /*float: right;*/
}

.tv-ghe-pointer:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 21px solid #1ba0e2;
    border-left-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
    left: 0px;
    margin-left: -10px;
}

.tv-ghe-pointer {
    border: 1px solid #1ba0e2!important;
}







/*//// loading/////*/

.overloadpage {
    background: #ffffff none repeat scroll 0 0;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
    /* overflow: hidden; */
    margin-right: 14px;
    color: #404040;
}

.overloadpage>p {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 73%;
    left: 50%;
    line-height: 60px;
    margin: -30px 0 0 -30px;
    font-size: 12px;
    text-align: center;
}

.spin-loader {
    background-image: url(Loading.gif);
    background-repeat: no-repeat;
    background-size: 80px;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    color: transparent;
    z-index: 100001;
}






/*///Vo van/*/


/*.tv-userchon-item b:nth-child(1), .tv-userchon-item span:nth-child(2) {
    color: #909090;
    font-weight: 700;
    padding: 10px 0;
    display: inline-block;
}*/

.tv-userchon-head {
    border-bottom: solid 1px #dedede;
    cursor: default;
    color: #bbb;
    font-weight: bold;
    font-size: .9rem;
    margin: 0;
    padding: 9px 17px 8px;
    line-height: 26px;
}

.tv-userchon-item {
    font-size: .9rem;
    margin: 0;
    cursor: pointer;
    padding: 0 17px 6px;
    border-radius: 3px;
    line-height: 26px;
    border: 1px;
}

.tv-userchon-item div {
    margin-top: 8px;
}







/*Check order */

.tv-checkorder-container {
    padding-right: 0;
    padding-left: 0;
}

.tv-checkorder-container .tv-booking-child:nth-child(1) {
    border-right: .0625rem solid #eee;
}

.tv-checkorder .subbooking {
    font-size: 1rem;
}

.tv-checkorder h4 {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.tv-checkorder h6 {
    padding-top: 1rem;
    color: #222;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 0;
}

.tv-bookgrow p {
    margin-bottom: 0;
}

.tv-checkorder-people {
    /*float: left;*/
}

.tv-checkorder-barcode {
    margin-top: 10px
}

.customer-left {
    float: left;
    font-size: .85rem;
    width: 35%;
}

.customer-right {
    /* float: left;
    width: 65%;*/
    font-size: .85rem;
}

.tv-icon-svg {
    color: #5cb85c;
    margin-bottom: 5px;
}

.tv-order-warning {
    color: #f39212!important;
}

.tv-order-success {
    color: #2cb064!important;
}

.tv-order-error {
    color: #e74c3c!important;
}






/*///////*/

div#navbarNav {
    margin-left: 7px;
}

li.nav-item {
    margin: 5px 15px;
}









/*Bootstrap*/

@media screen and (max-width: 1100px) {
    .tv-thoigianbay ul a:nth-child(1),
    .tv-thoigianbay ul a:nth-child(7) {
        display: none;
    }
}

@media screen and (max-width: 769px) {
    .tv-thoigianbay ul a:nth-child(2),
    .tv-thoigianbay ul a:nth-child(6) {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .tv-next,
    .tv-prev {
        display: none;
    }
}

@media (max-width: 575px) {
    /*  body{
            overflow: hidden;
    }*/
    .tv-main-detail {
        overflow: hidden;
    }
    .navbar-toggleable-md>.container {
        padding-right: 15px;
        padding-left: 15px;
        margin: auto 0;
    }

    .tv-probar {
        display: none;
    }
    li.nav-item {
        margin: 5px 20px;
        color: #ff5115;
    }
    div#navbarNav {
        margin-left: 0;
    }
    .navbar-nav {
        list-style: disc;
    }

    .tv-header .navbar {
        padding-right: 0rem;
        padding-left: 0rem;
        border-bottom: 1px solid #dedede;
    }


    /*////Header*/
    .navbar-brand img {
        height: 33px;
    }
    button.navbar-toggler.navbar-toggler-right {
        padding: 0rem 0.5rem;
        margin-top: 5px;
    }

    .tv-carthead {
        padding: .5rem 0;
    }
    .tv-header-detail .navbar-brand img {
        height: 35px;
    }
    .tv-header-detail .navbar {
        padding: 5px 0;
    }

    .icon-head-cart {
        width: 1.3rem;
        height: 1.3rem;
    }
    .tv-cartheaditem {
        font-size: 22px;
    }

    .tv-nhapthongtin {
        width: 100%;
        margin: auto;
    }
    h1.tv-chonchuyen {
        font-size: 1.6rem;
    }


    .tv-desc {
        font-size: .75rem;
    }
    .tv-accinfo h3 {
        font-size: 1.4rem;
    }

    .tv-main-detail {
        margin-top: 72px;

        padding-right: 15px;
        padding-left: 15px;
    }
    .tv-accinfo {
        margin-bottom: 1.5rem;
    }

    .tv-barfooter {
        padding: 10px 0;
    }

    .tv-chon {
        height: 45px;
    }

    .footerson {
        padding: 0.5rem 0;
    }
    .footerson .text-right:nth-child(2) {
        text-align: left!important;
        color: #777777;
    }
    .tv-checkorder .subbooking {
        font-size: 0.9rem;
        padding: .5rem 16px;
    }

    .tv-checkorder-container .tv-booking-child:nth-child(1) {
        border-right: none;
        border-bottom: .0625rem solid #eee;
        margin-bottom: 12px;
        padding-bottom: 12px;
    }


    .tv-iconbooking {
        padding-right: .5rem;
    }
    /*.customer-left {
    width: 30%;
}*/
    .tv-booking {
        padding: .75rem 1rem;
    }
    .tv-hbooking .col-12 {
        padding-right: 5px;
        padding-left: 5px;
    }
    .tv-bookings {
        padding: .75rem 1rem;
    }
    .tv-bookings span {
        font-size: 0.9rem;
    }

    .tv-bookings span:nth-child(2) {
        font-size: 22px;
    }

    .tv-bookingitem i {
        display: block;
        font-size: 11px;
    }

    .tv-main {
        margin-top: 182px;
    }
    /*  .tv-banner {
      position: unset;
  }*/
    .tvSearchTagLineIcon {
        display: none!important;
    }

    .tv-htable h1 {
        font-size: 1.1em;
    }


    .tv-tablesearch>.tv-cchome:nth-child(2) {
        border: none;
    }

    .tv-tablesearch {
        padding: 0 0 21px;
    }
    .tv-titlecol {
        padding-top: 16px;
        padding-bottom: 0;
    }

    .tv-hwhy h2 {
        margin-bottom: 10px;
        font-size: 1.3rem;
        line-height: 30px;
    }
    .travelokaCheapIcon {
        margin-bottom: 15px;
    }
    #searchIcon {
        margin-left: 23px;
    }
    .footer {
        margin-top: 20px;
    }

    .tv-footerbaomat {
        display: none;
    }
    .tv-footerlink {
        margin-top: 4px;
        padding: 15px;
    }

    .tv-footeritem {
        padding-left: 15px;
    }
    .tv-footeritem h5 {
        font-size: 1rem;
    }
    .tv-footeritem li {
        font-size: 12px;
    }
    .footer-social {
        margin-top: 25px;
    }

    .coppyright {
        margin-top: 0px;
        padding: 15px;
    }


    h3.tv-khoihanh {
        font-size: 1rem;
    }
    .tv-ttchuyenbay {
        padding: 0.65rem 1rem;
    }

    span.tv-ngaydi {
        font-size: .85rem;
    }

    .tv-thoigianbay {
        padding: 1rem 0 0;
    }


    .tv-thoigianbay {
        padding: 1rem 0 0;
    }

    .tv-lingay {
        font-size: .70rem;
    }
    .tv-ligiangay {
        font-size: 1.1rem;
    }
    .tv-subchuyentien {
        display: none;
    }
    .tv-thoigianbay li {
        height: 3.2rem;
    }
    .tv-giodi,
    .tv-gioden {
        font-size: 1.275rem;
    }
    .tv-giodi span,
    .tv-gioden span {
        font-size: .5rem;
    }

    .col.tv-giachuyenbay {
        font-size: 26px;
        line-height: 2.7rem;
    }

    .tv-hetve .tv-giachuyenbay {
        font-size: 14px;
    }

    .tv-thoigianbay {
        padding: 1rem 0 0;
    }
    .tv-chonghe-maybay img {
        display: none;
    }
    .tv-chonghe-left {
        background: #fff;
    }

    .tv-chonghe-right {
        box-shadow: none;
        padding: 0;
    }
    .tv-ghenote-item {
        padding: 0;
    }
    .tv-ghenote-item div {
        font-size: .8rem;
    }
    .tv-ghenote-title,
    .tv-userchon-title {
        padding: .8rem 1rem;
    }

    .tv-ghenote h3,
    .tv-userchon h3 {
        font-size: 15px;
    }

    .tv-userchon-head {
        font-size: 0.75rem;
    }
    .tv-userchon-item {
        line-height: 17px;
        padding: 0 0px 6px;
    }

    .tv-userchon-head {
        padding: 5px 0px 5px;
    }
    .tv-ghe-pointer:before {
        display: none;
        padding: 0 0px 9px;
    }

    .tv-xacnhan {
        margin: 1rem auto;
    }
    .tv-xacnhan-margin {
        padding: 10px 20px;
    }

    .tv-loaittitem {
        margin: 0;
        padding: 10px;
        font-size: .9rem;
    }


    h5.tv-thongbao {
        margin: 0 0 15px 0;
    }

    .tv-xacnhan-sub {
        font-size: .9rem;
    }
    .tv-errchuyenbay {
    margin: 10px 0;
}
    .tv-errchuyenbay h1 {
    font-size: 1.3rem;
    margin: 12px 0 10px;
}
    .tv-errchuyenbay p {
    font-size: .8rem;
}
}
@media (max-width: 769px) {
   #searchFlightSubmit span { font-size: 18px;}
}
@media (max-width: 375px) {
    .tv-main-detail {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (max-width: 350px) {
    .tv-main-detail {
        padding-right: 5px;
        padding-left: 5px;
    }
}